include ../../../node_modules/bemto.pug/bemto.pug

include _style
include _block_1
include _block_2
include _block_3
include _block_4
include _block_5
include _block_6
include _block_7
include _block_8
include _block_9
include _block_10
