mixin b_block_10()
	tr
		td.td_block
			img(src="img/bottom.jpg" style="display:block; margin:0; padding:0; height:7px; width:640px" width='640' height='7')
	tr
		td.td_block(style="font:14px Arial; color: white; padding:25px 0")
			|	Вы получили письмо, поскольку являетесь зарегистрированным пользователем Astro<br>
			| Чтобы отписаться или поменять настройки подписки кликните 
			a(href="#" style="color:white; text-decoration:underline") по ссылке
