mixin b_block_2()
	tr
		td.td_block(style="padding:30px 20px; background:white; border-bottom:1px dashed #cfcfcf")
			table(style="width:100%; text-align:center" align="center" cellspacing="0" cellpadding="0")
				tr
					td.td_block(style="align:left" align="left")
						img(src='/img/logo.jpg' style="font-size:25px; font-weight:bold;" height="24px" alt="Astrology")
					td(style="color:#444545; font:13px Arial; width:195px")
						| Не отображаются картинки?
						| Откройте в браузере <a href=#"" style="color:#423655; text-decoration:underline">ссылку</a>
