mixin b_block_1()
	tr
		td(style="font:14px Arial; color: white; padding:25px 0")
			| Чтобы сообщения не попадали в спам, добавьте адрес <a href="info@astro.ua" style="color:white; text-decoration:none">info@astro.ua</a>
			| в адресную книгу.
	tr
		td
			img(src="img/header.jpg" style="display:block; margin:0; padding:0; height:7px; width:640px" width='640' height='7')
