mixin b_block_3()
	tr
		td(style="padding:30px 20px; background:white; border-bottom:1px dashed #cfcfcf")
			h1(style="font26px Arial; color:#434045; margin:0 0 20px; text-align:center")
				|	Как выбрать колоду Таро под себя?
			p
				img(src='http://placehold.it/600x250' alt="600x250")
			p(style="font:14px/1.5 Arial; text-align:left")
				|	Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Быть игроком в команде замечательно - даже если Вам не очень хочется откладывать свои личные устремления, Вы верите в общую цель. В конечном итоге важность того, чего Вы достигнете, перевесит жертвы, на которые Вы пошли. Сегодня Вы почувствуете гордость за себя, а это прямой признак того, что Ваша уверенность в себе растет. Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Вы достигнете, перевесит жертвы, на которые Вы пошли.
			table(width="235" align="center" cellspacing="0" cellpadding="0")
				tr
					td(style="width:11px; height:40px")
						img(src='/img/btn_violet_left.jpg' style="width:11px; height:40px; display:block; margin:0")
					td(valign="middle" style="text-align:center; background-color:#a58fb4")
						a(href="#" style="color:white; text-decoration:none; height:18px; padding:11px 0") Узнать у нас на сайте
					td(style="width:11px; height:40px")
						img(src='/img/btn_violet_right.jpg' style="width:11px; height:40px; display:block; margin:0")
