mixin b_block_6()
	tr
		td(style="padding:30px 20px; background:white")
			h2(style="font26px Arial; color:#434045; margin:0 0 20px; text-align:center")
				| Топ статьи на эту тему
			table(align="center" cellspacing="0" cellpadding="0" width="100%")
				tr
					- var n = 0
					while n < 3
						- n++
						td(style="width:15px")
						td.td_block.mobile_margin
							table.radius(align="center" cellspacing="0" cellpadding="10" style="border:1px solid silver")
								tr
									td.td_block
										img(src='http://placehold.it/90x90' alt="90x90")
								tr
									td.td_block
										p(style="font:14px/1.5 Arial; margin-bottom: 0")
											b Что означает имя во сне?
										div(style="font:14px/1.3 Arial")
											|	Засучите рукава и активнее за дело - Вам необходимо вмешаться
