mixin b_block_9()
	tr
		td(style="padding:30px 20px; background:white")
			table(style="width:100%; text-align:center" align="center" cellspacing="0" cellpadding="0")
				tr
					td(style="align:left; width:54px" align="left")
						a(href="#")
							img(src='/img/vk.jpg' style="border:none" height="41px" width="41px")
					td(style="align:left; width:54px" align="left")
						a(href="#")
							img(src='/img/fb.jpg' style="border:none" height="41px" width="41px")
					td(style="align:left; width:54px" align="left")
						a(href="#")
							img(src='/img/tw.jpg' style="border:none" height="41px" width="41px")
					td(style="align:left; width:54px" align="left")
						a(href="#")
							img(src='/img/gplus.jpg' style="border:none" height="41px" width="41px")
					td(style="align:left; width:54px" align="left")
						a(href="#")
							img(src='/img/yt.jpg' style="border:none" height="41px" width="41px")
					td.td_block(style="color:#444545; font:13px Arial; text-align:left")
						div
							|	© 2001-2015 Сервис “Астро”, все права защищены.
							font (044) 123 - 45 - 67
								| i г. Киев, ул. Киевская, 35, оф. 205
