mixin b_block_8()
	tr
		td(style="padding:30px 20px; background:white; border-bottom:1px solid #cfcfcf")
			h1(style="font26px Arial; color:#434045; margin:0 0 20px; text-align:center")
				|	Как выбрать колоду Таро под себя?
			p
				img(src='http://placehold.it/600x250' alt="600x250")
			table(align="left" cellspacing="0" cellpadding="5" width="100%")
				tr
					td(style="width:13px")
						img(src='/img/fiolet_dot.jpg' style="display:block; margin:0")
					td(style="text-align:left")
						font(style="font:14px/1.5 Arial; text-align:left")
							|	Какие женщины нравятся Вашему мужчине, какую даму ищет и полюбит.
				tr
					td(style="width:13px")
						img(src='/img/fiolet_dot.jpg' style="display:block; margin:0")
					td(style="text-align:left")
						font(style="font:14px/1.5 Arial; text-align:left")
							|	Что в Вас может оттолкнуть Вашего партнера.
				tr
					td(style="width:13px")
						img(src='/img/fiolet_dot.jpg' style="display:block; margin:0")
					td(style="text-align:left")
						font(style="font:14px/1.5 Arial; text-align:left")
							| Ваши сильные стороны, которые помогут удержать избранника.
				tr
					td(style="width:13px")
						img(src='/img/fiolet_dot.jpg' style="display:block; margin:0")
					td(style="text-align:left")
						font(style="font:14px/1.5 Arial; text-align:left")
							|	Какие черты в себе развить, чтобы стать идеальной в отношениях и не потерять их.
