extends ./../layouts/_layout

block content
	table(style="width:100%; text-align:center" align="center" cellspacing="0" cellpadding="0")
		tr
			td(style="text-align:center" align="center")
				table.container(style="width:640px" align="center" cellspacing="0" cellpadding="0")
					+b_block_1()
					+b_block_2()
					+b_block_3()
					+b_block_4()
					+b_block_5()
					+b_block_6()
					+b_block_7()
					+b_block_8()
					+b_block_9()
					+b_block_10()
